﻿@using DataGridView.Contracts.Models;
@model Product

@{
    ViewData["Title"] = "Создать новый товар";
}

<h2>Создать новый товар</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Size"></label>
        <input asp-for="Size" class="form-control" type="number" step="any" />
        <span asp-validation-for="Size" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Material"></label>
        <select asp-for="Material" class="form-control" asp-items="@(EnumHelper.GetEnumDescriptions(typeof(Materials)))"></select>
        <span asp-validation-for="Material" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MinimumQuantity"></label>
        <input asp-for="MinimumQuantity" class="form-control" />
        <span asp-validation-for="MinimumQuantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" type="number" step="any" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary"
            style="margin-top: 15px">
        Сохранить товар
    </button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
